html,
body {
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 10px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
